/* Header Start*/
.header__container{
  display: flex;
  justify-content: space-around;
  margin: 90px 0px 0px;
}

.header__container h3{
  font-family: 'Oswald';
  width: 15%;
  font-style: normal;
  font-weight: 400;
  font-size: 2.4rem;
  color: #000000;
}

.header_search{
  position: relative;
  width: 70%;
  height: auto;
}

#header_search{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  font-size: 6.4rem;
  line-height: 9.5rem;
  border-bottom: 2px solid #C4C4C4;
  color: #C4C4C4;
}

/* Header End*/