@media screen and (max-width: 1186px){
  .ordering,
  .about,
  .quick{
    width: 30%;
  }
  
  .get_to_know{
    width: 90%;
  }

  .footer_container__content h4{
    text-align: center;
    font-size: 4.6rem;
  }

  .footer_container__content p,
  .footer_container__content a{
    font-size: 2.4rem;
  }

  .footer_container__content li{
    text-align: center;
  }
}

@media screen and (max-width: 620px){
  .footer_container__content h4{
    text-align: center;
    font-size: 2.4rem;
  }

  .footer_container__content p,
  .footer_container__content a{
    font-size: 1.8rem;
  }

  .footer_container__content__links__email{
    width: 100%;
  }
}

@media screen and (max-width: 440px){

  .footer_container__content__links{
    margin: 20px 0px;
  }

  .ordering,
  .about,
  .quick{
    width: 90%;
  }

  .footer_container__rights_reserved{
    justify-content: center;
    padding-left: unset;
  }

  #email_get_to_know{
    font-size: 1.3rem;
  }

  #btn_email_get_to_know{
    width: 70px;
    font-size: 1.3rem;
  }
  
}